body {
  background-color: red;
}

#lessThanTen {
  background: url('../image/less-than-10kb.jpg');
}

#moreThanTen {
  background: url('../image/more-than-10kb.jpg');
}

#withPngImage {
  background: url('../image/a-png-image.png');
}